<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 5</title>
</head>
<body>
<h1>Resultados del Ejercicio 5- Analisis de Fraude</h1>

<h2>Por Empleado</h2>
<table border="1">
    <tr>
        <th>ID Empleado</th>
        <th>Número de Incidentes</th>
        <th>Número de Actuaciones</th>
        <th>Tiempo Total</th>
    </tr>
    {% for empleado in resultados.por_empleado.datos %}
        <tr>
            <td>{{ empleado.id_emp }}</td>
            <td>{{ empleado.num_incidentes }}</td>
            <td>{{ empleado.num_actuaciones }}</td>
            <td>{{ empleado.tiempo_total }}</td>
        </tr>
    {% endfor %}
</table>
<h3>Estadísticas del Tiempo Total</h3>
<ul>
    <li>Mediana: {{ resultados.por_empleado.estadisticas.Mediana }}</li>
    <li>Media: {{ resultados.por_empleado.estadisticas.Media }}</li>
    <li>Varianza: {{ resultados.por_empleado.estadisticas.Varianza }}</li>
    <li>Mínimo: {{ resultados.por_empleado.estadisticas.Minimo }}</li>
    <li>Máximo: {{ resultados.por_empleado.estadisticas.Maximo }}</li>
</ul>

<h2>Por Nivel de Empleado</h2>
<table border="1">
    <tr>
        <th>Nivel</th>
        <th>Número de Incidentes</th>
        <th>Número de Actuaciones</th>
        <th>Tiempo Total</th>
    </tr>
    {% for nivel in resultados.por_nivel_empleado.datos %}
        <tr>
            <td>{{ nivel.nivel }}</td>
            <td>{{ nivel.num_incidentes }}</td>
            <td>{{ nivel.num_actuaciones }}</td>
            <td>{{ nivel.tiempo_total }}</td>
        </tr>
    {% endfor %}
</table>
<h3>Estadísticas del Tiempo Total</h3>
<ul>
    <li>Mediana: {{ resultados.por_nivel_empleado.estadisticas.Mediana }}</li>
    <li>Media: {{ resultados.por_nivel_empleado.estadisticas.Media }}</li>
    <li>Varianza: {{ resultados.por_nivel_empleado.estadisticas.Varianza }}</li>
    <li>Mínimo: {{ resultados.por_nivel_empleado.estadisticas.Minimo }}</li>
    <li>Máximo: {{ resultados.por_nivel_empleado.estadisticas.Maximo }}</li>
</ul>

<h2>Por Cliente</h2>
<table border="1">
    <tr>
        <th>Cliente</th>
        <th>Número de Incidentes</th>
        <th>Número de Actuaciones</th>
    </tr>
    {% for cliente in resultados.por_cliente.datos %}
        <tr>
            <td>{{ cliente.cliente }}</td>
            <td>{{ cliente.num_incidentes }}</td>
            <td>{{ cliente.num_actuaciones }}</td>
        </tr>
    {% endfor %}
</table>
<h3>Estadísticas del Número de Actuaciones</h3>
<ul>
    <li>Mediana: {{ resultados.por_cliente.estadisticas.Mediana }}</li>
    <li>Media: {{ resultados.por_cliente.estadisticas.Media }}</li>
    <li>Varianza: {{ resultados.por_cliente.estadisticas.Varianza }}</li>
    <li>Mínimo: {{ resultados.por_cliente.estadisticas.Minimo }}</li>
    <li>Máximo: {{ resultados.por_cliente.estadisticas.Maximo }}</li>
</ul>

<h2>Por Tipo de Incidente</h2>
<table border="1">
    <tr>
        <th>Tipo de Incidente</th>
        <th>Número de Incidentes</th>
        <th>Número de Actuaciones</th>
    </tr>
    {% for tipo in resultados.por_tipo_incidente.datos %}
        <tr>
            <td>{{ tipo.tipo_incidencia }}</td>
            <td>{{ tipo.num_incidentes }}</td>
            <td>{{ tipo.num_actuaciones }}</td>
        </tr>
    {% endfor %}
</table>
<h3>Estadísticas del Número de Actuaciones</h3>
<ul>
    <li>Mediana: {{ resultados.por_tipo_incidente.estadisticas.Mediana }}</li>
    <li>Media: {{ resultados.por_tipo_incidente.estadisticas.Media }}</li>
    <li>Varianza: {{ resultados.por_tipo_incidente.estadisticas.Varianza }}</li>
    <li>Mínimo: {{ resultados.por_tipo_incidente.estadisticas.Minimo }}</li>
    <li>Máximo: {{ resultados.por_tipo_incidente.estadisticas.Maximo }}</li>
</ul>

<h2>Por Día de la Semana</h2>
<table border="1">
    <tr>
        <th>Día de la Semana</th>
        <th>Número de Incidentes</th>
        <th>Número de Actuaciones</th>
    </tr>
    {% for dia in resultados.por_dia_semana.datos %}
        <tr>
            <td>{{ dia.dia_semana }}</td>
            <td>{{ dia.num_incidentes }}</td>
            <td>{{ dia.num_actuaciones }}</td>
        </tr>
    {% endfor %}
</table>
<h3>Estadísticas del Número de Actuaciones</h3>
<ul>
    <li>Mediana: {{ resultados.por_dia_semana.estadisticas.Mediana }}</li>
    <li>Media: {{ resultados.por_dia_semana.estadisticas.Media }}</li>
    <li>Varianza: {{ resultados.por_dia_semana.estadisticas.Varianza }}</li>
    <li>Mínimo: {{ resultados.por_dia_semana.estadisticas.Minimo }}</li>
    <li>Máximo: {{ resultados.por_dia_semana.estadisticas.Maximo }}</li>
</ul>
<a href="/" class="boton">Volver al Inicio</a>
</body>
</html>